<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title></title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="https://ibmnewstracker.s3.jp-tok.cloud-object-storage.appdomain.cloud/assets/img/logo.png" rel="icon">
  
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="https://ibmnewstracker.s3.jp-tok.cloud-object-storage.appdomain.cloud/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="https://ibmnewstracker.s3.jp-tok.cloud-object-storage.appdomain.cloud/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://ibmnewstracker.s3.jp-tok.cloud-object-storage.appdomain.cloud/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="https://ibmnewstracker.s3.jp-tok.cloud-object-storage.appdomain.cloud/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="https://ibmnewstracker.s3.jp-tok.cloud-object-storage.appdomain.cloud/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="https://ibmnewstracker.s3.jp-tok.cloud-object-storage.appdomain.cloud/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="https://ibmnewstracker.s3.jp-tok.cloud-object-storage.appdomain.cloud/assets/css/style.css" rel="stylesheet">

  
</head>

<body>
  <!-- ======= Header ======= -->
  <header id="header" class="d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">
      
      <a href="index.html" class="logo"><img src="https://ibmnewstracker.s3.jp-tok.cloud-object-storage.appdomain.cloud/assets/img/logo.png" alt="" class="img-fluid"></a>
      <h1 class="logo"><a href="index.html">AKAV</a></h1>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="./index">Home</a></li>
          <li><a class="nav-link scrollto" href="./index">About</a></li>
          <li><a class="nav-link scrollto" href="#services">Contact</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  
  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <ol>
          <li><a href="index.html">Home</a></li>
          <li>Signup</li>
        </ol>
        
      </div>
    </section><!-- End Breadcrumbs -->

    <section class="inner-page">
      <div class="container">
        <p>

          <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Sign up</p>
        <section class="vh-100" style="background-color: #eee;">
            <div class="container h-100">
              <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-lg-12 col-xl-11">
                  <div class="card text-black" style="border-radius: 25px;">
                    <div class="card-body p-md-5">
                      <div class="row justify-content-center">
                        <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">
          
                          <form method="POST" action="{{ url_for('addmember') }}">
                            <label for="form3Example3c" class="form-label"> Name</label><input type="text" name="name" class="form-control" />
                            <br>
                            <label for="form3Example3c" class="form-label">Email</label> <input type="text" name="email" class="form-control" />
                            <br>
                            <label for="form3Example3c" class="form-label">
                            Password</label> <input type="text" name="password" class="form-control"/>
                            <br>
                            <label for="form3Example3c" class="form-label">
                            Confirm Password</label> <input type="text" name="con-password"class="form-control" />
                            <br>
                            <input type="submit" class="btn btn-danger" value="Submit">
                          </form>      
                          <br><br>
                            <p> If you already have an account <a href=".\signin">Signin</a></p>
                                   
          

                         
                        </div>
                        <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">
          
                          <img src="https://ibmnewstracker.s3.jp-tok.cloud-object-storage.appdomain.cloud\assets\img\signin.jpg"  class="img-fluid" alt="Sample image" width="360vw" height="480vh">
          
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
         </p>
      </div>
    </section>
    <section id="cta" class="cta">
      <div class="container" data-aos="zoom-in">

        <div class="text-center">
          <l style="color: whitesmoke;"><div class="copyright">
        &copy; Copyright <strong><span>Akav</span></strong>. All Rights Reserved
      </div>
        </div>  

      </div>
  </section><!-- End Cta Section -->
<script>
  window.watsonAssistantChatOptions = {
    integrationID: "ac43d8ee-d139-4510-bac0-ea881b25733f", // The ID of this integration.
    region: "au-syd", // The region your integration is hosted in.
    serviceInstanceID: "c3f595e8-c61f-461a-8de8-dc3a72dadb12", // The ID of your service instance.
    onLoad: function(instance) { instance.render(); }
  };
  setTimeout(function(){
    const t=document.createElement('script');
    t.src="https://web-chat.global.assistant.watson.appdomain.cloud/versions/" + (window.watsonAssistantChatOptions.clientVersion || 'latest') + "/WatsonAssistantChatEntry.js";
    document.head.appendChild(t);
  });
</script>


  <!-- Vendor JS Files -->
  <script src="https://ibmnewstracker.s3.jp-tok.cloud-object-storage.appdomain.cloud/assets/vendor/aos/aos.js"></script>
  <script src="https://ibmnewstracker.s3.jp-tok.cloud-object-storage.appdomain.cloud/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="https://ibmnewstracker.s3.jp-tok.cloud-object-storage.appdomain.cloud/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="https://ibmnewstracker.s3.jp-tok.cloud-object-storage.appdomain.cloud/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="https://ibmnewstracker.s3.jp-tok.cloud-object-storage.appdomain.cloud/assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="https://ibmnewstracker.s3.jp-tok.cloud-object-storage.appdomain.cloud/assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="https://ibmnewstracker.s3.jp-tok.cloud-object-storage.appdomain.cloud/assets/js/main.js"></script>

</body>

</html>